/*attr table*/

/*for table styling
*/

tr:nth-of-type(odd) {
    background: #eee;
}

tr:nth-of-type(even) {
    background: white;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

th.des:after {
    content: "\21E9";
}

th.aes:after {
    content: "\21E7";
}

tr:hover{
    /* background: #00BCD4; */
    /* background: white; */
    color: #00BCD4;
}




/*lasso styling below*/

.lasso_svg path {
    stroke: rgb(80, 80, 80);
    stroke-width: 2px;
    opacity: 0.1;
}




/* path {
     stroke: rgb(80, 80, 80);
     stroke-width: 2px;
     opacity: 0.1;
} */



.lasso .drawn {
    fill-opacity: .05;
    fill : 'cyan'
}

.lasso .loop_close {
    fill: none;
    stroke-dasharray: 4, 4;
}

.lasso .origin {
    fill: #3399FF;
    fill-opacity: .5;
}

.not_possible {
    fill: rgb(200, 200, 200);
}

.possible {
    fill: #EC888C;
}