::-webkit-scrollbar {
    width: 6px;
    /* for vertical scrollbars */
    height: 8px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: dimgray;
}

html,
body {
    overflow-x: hidden;
    /* made it hidden */
    overflow-y: hidden;
    height: 100%;
    /*1200px;*/
    width: 100%;
    image-rendering: auto;
}

#headBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    /* width: 100%; */
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#bottomBar {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    height: 100%;
    /* margin: 5px; */
    border-radius: 15px;
    /* border: 0.1px solid lightgray; */
}

#sidePanel {
    display: flex;
    flex-direction: column;
    /*    float: left;*/
    width: 20%;
    /* min-width: 300px; */
    height: 95%;
    /*93%*/
    /* background-color: blue; */
    margin: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    /*min-width: 300px;*/
    /*    margin: 2px;*/
}

#sideRightPanel {
    display: flex;
    flex-direction: row-reverse;
    /*    float: left;*/
    width: 20%;
    /* min-width: 300px; */
    height: 95%;
    /*93%*/
    /* background-color: green; */
    margin: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    /*min-width: 300px;*/
    /*    margin: 2px;*/
}

#sideRightContentPanel {
    display: block;
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
}

#viewPanel {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 95%;
    /*90%; 2000px*/
    float: right;
    /* background-color: pink; */
    color: #555;
    font-size: 0.8em;
    /* border-left: 1px solid lightgray;
    border-right: 1px solid lightgray; */
    /* border: 1px solid lightgray; */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    /* margin: 5px;
    border-radius: 5px; */
    /* cursor: pointer; */
}

#tablePanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    /*90%; 2000px*/
    float: right;
    /* background-color: pink; */
    color: #555;
    font-size: 0.8em;
    margin-top: 10px;
    /* border-left: 1px solid lightgray;
    border-right: 1px solid lightgray; */
    /* border: 1px solid lightgray; */
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#tableContent{
       display: flex;
       flex-direction: column;
       width: 100%;
       height: 100%;
       overflow-y: auto;
       overflow-x: auto;
       padding: 5px;
       border-top: 1px solid lightgray;
}

#modelPanel {
    display: block;
    /* flex: 1; 
    flex-direction: row;*/
    width: 100%;
    height: 65%;
    /* max-height: 70%;  */
    background-color: #fff;
    color: #555;
    font-size: 0.8em;
    /* border-left: 1px solid lightgray; */
    overflow-y: auto;
    overflow-x: auto;
    cursor: default;
    padding: 5px;
    min-height: 500px;
    /* margin-bottom: 10px; */
    /* margin-bottom: 5px; */
    border-radius: 5px;
    border: 1px solid lightgray;
}

#clusterDivSvg {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2px;
    text-align: center;
}

#tableDetailPanel {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 35%;
    min-height: 35%;
    background-color: #fff;
    color: #555;
    font-size: 0.8em;
    border-top: 1px solid lightgray;
    overflow-y: auto;
    overflow-x: auto;
    padding: 15px;
    cursor: default;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#titlePanel {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 20;
    background-color: transparent;
    text-align: center;
}

.titleText {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    font-weight: bold;
    text-transform: uppercase;
    color: #00BCD4;
    letter-spacing: 1pt;
    word-spacing: 6pt;
    font-size: 20px;
    text-align: left;
    font-family: arial, helvetica, sans-serif;
    line-height: 1;
    margin: 5px;
    padding: 10px;
}

#leftPanel {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    /*#fff;*/
    width: 100%;
    height: 100%;
    /*60vh*/
    /*85%*/
    /*    float: left;*/
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 901;
    /* padding: 5px; */
}

#auxSideMenuBar {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(235, 234, 234); */
    background-color: transparent;
    width: 25px;
    height: 100%;
    /*60vh*/
    /*    float: left;*/
    /* overflow-x: hidden;
    overflow-y: hidden;
    position: relative; */
    z-index: 901;
    border-radius: 5px;
    border-right: 1px solid lightgray;
    /* padding: 5px; */
}

#auxSideTop {
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
    width: 100%;
    height: 75%;
    border-radius: 5px;
    /* border: 1px solid lightgray; */
}

#auxSideBottom {
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
    width: 100%;
    height: 25%;
}

#leftPanelContent {
    overflow: hidden;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    height: 100%;
    /*80%*/
    padding: 10px;
    width: 100%;
    display: block;
    flex-direction: column;
}

header {
    border: none;
}

#globalPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#featurePanel {
    /* display: flex;
    flex-direction: column-reverse; */
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;
    /* overflow-y: auto; */
    padding: 5px;
}

#gridDataPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border-bottom: 1px solid lightgray; */
    overflow-y: auto;
    padding: 5px;
}
